\documentclass{article}
\usepackage[utf8]{inputenc}
\usepackage[margin=0.5in]{geometry}
\usepackage{parskip}
\usepackage{fontspec}
\setmainfont{Arial}

\begin{document}

\section*{\centering \VAR{content | replace('_', '\\_')}}

\end{document}